<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hirukara / [% title %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
* { margin: 0; padding: 0 }
body { margin: 5px; }
table { border-collapse: collapse; width: 100% }
th, td { border: 1px solid black; padding: 2px 5px; font-size: 12px }
h3 { margin: 20px 0px 5px 2px; font-size: 16px; font-family: monospace; color: blue }
h4 { font-weight: normal;  text-align: right }
tr *:nth-child(1) { width: 15% }
tr *:nth-child(2) { width: 40% }
tr *:nth-child(3) { width: 45% }
tr:nth-child(even) { background-color: #ddd }
</style>
<body>
<div>
<table>
<tr>
    <th>サークル名</th>
    <th>スペース</th>
    <th>コメント</th>
</tr>
[% FOREACH row IN checklists; circle = row.circle %]
<tr>
    <td>[% circle_space(circle) %]</td>
    <td>[% circle.circle_name %] / [% circle.circle_author %]</td>
    <td>[% FOREACH f in row.favorite %][% f.member_id %]([% f.count %]):[% f.comment %]<br>[% END %]</td>
</tr>
[% END %]
</table>
</div>
</body>
</html>
