[% WRAPPER 'wrapper.tt' WITH title = "全体の追加・削除の履歴" %]
<table class="table table-striped table-bordered table-hover table-condensed">
<tr>
<th>日時</th>
<th>行ったアクション</th>
<th>変更内容</th>
</tr>
[% FOREACH l IN logs %]
<tr>
<td>[% l.created_at %]</td>
<td>[% l.type %]</td>
<td>[% l.message %]</td>
</tr>
[% END %]
</table>
[% END %]
