[% WRAPPER 'wrapper.tt' WITH header_title = "発注・割当"; assigns = assign.all %]

<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="[% member.image_url %]" style="width: 64px; height: 64px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">[% member.member_name %] ([% member.member_id %])</h4>
    </div>
  </li>
</ul>

[% END %]
