[% WRAPPER 'wrapper.tt' WITH title = "チェックリストのアップロード" %]
<form role="form" id="submit_checklist" method="POST" action="[% uri_for('/upload') %]" enctype="multipart/form-data">
<div class="form-group">
    <label for="upflle">コミケットのカタロムから出力されたCSVファイルをアップロードしてください。</label>
    <input id="upfile" type="file" name="checklist" />
</div>
<input type="submit" class="btn btn-primary" value="チェックリストをアップロードする" />
</form>
[% END %]
