<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>[Hirukara] [% header_title %] ([% current_exhibition %])</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<style>
* { margin: 0; padding: 0 }
body { margin-top: 20px }
img  { margin-top: -5px; margin-bottom: -5px; width: 28px; height: 28px; }
h2   {
    font-weight: bold;
    font-size: 20px;
    text-shadow: gray 1px 3px 3px;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 3px double gray;
}
h4   { color: gray }

.controller { margin: 10px 0px }
.controller > * { margin: 0px 5px }
.circle_comment { color: #aaa; font-size: 12px; }

.my_order   { border: 3px dotted orange; margin: 20px 0px; padding: 10px }
.batch      { padding: 2px 5px; border: 1px solid gray; border-radius: 5px }

table.gohairyo { background-color: #fee }
table.gohairyo .circle_type_label { font-size: 120%; font-weight: bold; color: red }
.batch.gohairyo { background-color: #fbb }

table.absent { background-color: #ccc }
table.absent .circle_type_label { font-size: 120%; font-weight: bold; color: gray }
.batch.absent { background-color: #aaa }

table.families { background-color: #ddf }
table.families .circle_type_label { font-size: 120%; font-weight: bold; color: blue }
.batch.families { background-color: #ccf }

table.confirm { background-color: #ffd }
table.confirm .circle_type_label { font-size: 120%; font-weight: bold; color: black }
.batch.confirm { background-color: #ffc }

table.malonu { background-color: #ffc500 }
table.malonu .circle_type_label { font-size: 120%; font-weight: bold; color: #ffff00 }
.batch.malonu { background-color: #ffc }

table.noshinkan { background-color: #666 }
table.noshinkan .circle_type_label { font-size: 120%; font-weight: bold; color: white }
.batch.noshinkan { background-color: #666; color: white }

table.deprecated, tr.deprecated { background-color: #666 }
table.deprecated .circle_type_label { font-size: 120%; font-weight: bold; color: red }

select.selected { background-color: #ffc }
</style>
<script>
$(function(){
    $("select").change(function(val){
        var self = $(this);
        if (self.val() == "")   {
            self.removeClass("selected");
        } else {
            self.addClass("selected");
        }
    }).change();
});
</script>
<body>
<div class="container">
  <nav id="navbar-example" class="navbar navbar-inverse navbar-static">
    <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="[% uri_for("/") %]">Hirukara</a>
        </div>

        [% IF user %]
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="[% uri_for("/checklist?member_id=" _ user.member_id) %]"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Checklist</a></li>
            <li><a href="[% uri_for("/search") %]"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a></li>
            <li><a href="[% uri_for("/assign") %]"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Order/Assign</a></li>
            <li><a href="[% uri_for("/members") %]"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Members</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin Menu<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="[% uri_for("/admin/assign") %]">割当リストの追加・削除</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="[% uri_for("/admin/assign/view") %]">割当</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="[% uri_for("/admin/log") %]">操作履歴</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="[% uri_for("/admin/notice") %]">告知の追加・変更</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                [% user.member_name %] ([% user.member_id %]) <img src="[% user.profile_image_url %]"> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li><a href="[% uri_for("/logout") %]"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        [% END %]
    </div>
  </nav>
[% content %]
</div>
</body>
</html>
