<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hirukara::Lite - [% title %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="[% uri_for('/static/css/main.css') %]"> -->
</head>
<style>
* { margin: 0; padding: 0 }

body { margin-top: 40px }

img { margin-top: 7px; margin-bottom: -7px; width: 28px; height: 28px; }

form { margin-bottom: 0px }

h2 { color: #333; text-shadow: gray 1px 2px 2px }

table.checklist td > div {
    font-family: monospace;
    background-color: #ccc;
    padding: 2px 3px;
    border: 2px solid gray;
    border-radius: 7px;
}

.delete_button  {
    background-color: #faa;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid #f66;
}

.my_order   {
    border: 3px dotted orange;
    margin: 20px 0px;
    padding: 10px;
}

tr.my_info    { background-color: #ffd }

table.gohairyo, tr.gohairyo { background-color: #fee }
table.gohairyo .circle_type_label { font-size: 120%; font-weight: bold; color: red }

table.absent, tr.absent { background-color: #ccc }
table.absent .circle_type_label { font-size: 120%; font-weight: bold; color: gray }

table.families, tr.families { background-color: #ddf }
table.families .circle_type_label { font-size: 120%; font-weight: bold; color: blue }
</style>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="[% uri_for("/") %]">Hirukara::Lite</a>
          <div class="nav-collapse collapse">
            [% IF user %]
            <ul class="nav">
              <li><a href="[% uri_for("/view") %]">Checklist</a></li>
              <li><a href="[% uri_for("/upload") %]">UploadChecklist</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Export<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="[% uri_for("/export/excel") %]">Excel</a></li>
                  <li><a href="[% uri_for("/export/checklist") %]">Comiket CSV</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Menu<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="[% uri_for("/log") %]">Action Log</a></li>
                  <li><a href="[% uri_for("/assign") %]">Change Assign Info</a></li>
                  <li><a href="[% uri_for("/assign/view") %]">Assign Circle</a></li>
                </ul>
              </li>
              <li><img src="[% user.profile_image_url %]"></li>
              <li><a>[% user.member_id %]</a></li>
              <li><a href="[% uri_for("/mypage") %]">MyPage</a></li>
              <li><a href="[% uri_for("/logout") %]">Logout</a></li>
            </ul>
            [% END %]
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<h2>[% title %]</h2>
[% content %]
</div>
</body>
</html>
